h1 {
    text-align: center;
}

a {
    color: #606060;
    text-decoration: none;
}

a#back {
    position: absolute;
    top: 450px;
    left: 720px;
}

section{
    text-align: center;
    background: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

footer#rodape p {
    position: absolute;
    bottom: 0px;
    left: 630px;
}