body{
    background-color: #026D85;
}

h1{
    font-size: 63px;
    text-align: center;
    margin-top: 50px;
}

img#carro-compra{
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0px;
    left: 1215px;
}

a {
    color: #111111;
}

footer#rodape p {
    position: absolute;
    bottom: 0px;
    left: 580px;
}
